Project3-Real-Python/venv1/.idea/inspectionProfiles/Project_Default.xml
Project3-Real-Python/venv1/.idea/inspectionProfiles/profiles_settings.xml
Project3-Real-Python/venv1/.idea/venv1.iml
Project3-Real-Python/venv1/.idea/vcs.xml
Project3-Real-Python/venv1/.idea/modules.xml
Project3-Real-Python/venv1/.idea/misc.xml
