Project3-Real-Python/venv1/.idea/inspectionProfiles/Project_Default.xml
Project3-Real-Python/venv1/.idea/inspectionProfiles/profiles_settings.xml
Project3-Real-Python/venv1/.idea/venv1.iml
Project3-Real-Python/venv1/.idea/vcs.xml
Project3-Real-Python/venv1/.idea/modules.xml
Project3-Real-Python/venv1/.idea/misc.xml
Project2-Python-Google/babynames/baby1990.html
Project2-Python-Google/babynames/baby1992.html
Project2-Python-Google/babynames/baby1994.html
Project2-Python-Google/babynames/baby1996.html
Project2-Python-Google/babynames/baby1998.html
Project2-Python-Google/babynames/baby2000.html
Project2-Python-Google/babynames/baby2002.html
Project2-Python-Google/babynames/baby2004.html
Project2-Python-Google/babynames/baby2006.html
Project2-Python-Google/babynames/baby2008.html
Project2-Python-Google/babynames/baby1990.html.summary
Project2-Python-Google/babynames/baby1992.html.summary
Project2-Python-Google/babynames/baby1994.html.summary
Project2-Python-Google/babynames/baby1996.html.summary
Project2-Python-Google/babynames/baby1998.html.summary
Project2-Python-Google/babynames/baby2000.html.summary
Project2-Python-Google/babynames/baby2002.html.summary
Project2-Python-Google/babynames/baby2004.html.summary
Project2-Python-Google/babynames/baby2006.html.summary
Project2-Python-Google/babynames/baby2008.html.summary
Project2-Python-Google/babynames/dupenames.log
pod.yaml
